.global{
  padding-top: 150px;
  &__title{
    color: $mainColor;
    font-family: "A_Concepto";
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 80px;
    text-align: center;
    overflow: hidden;
    position: relative;
    & .letters{
      position: relative;
      padding-top: 0.4em;
      padding-right: 0.05em;
      padding-bottom: 0.1em;
      // overflow: hidden;
      & span{
        display: inline-block;
        line-height: 60px;
      }
    }
  }
  &__map{
    position: relative;
    z-index: -1;
    &-marker{
      width: 20px;
      position: absolute;
      transition: all ease 2s;
    }
  }
}

.countries{
  margin-top: -135px;
  background-color: $bgGrey;
  &__inner{
    display: flex;
    & li{
      font-size: 14px;
      font-weight: 500;
      padding-left: 12px;
      position: relative;
      &::before{
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $activeColor;
        position: absolute;
        left: 0;
        top: 3px;
      }
      &.countries__customers-item{
        &::before{
          background-color: $greenList;
        }
      }
    }
  }
  &__origin{
    &-title{
      color: $mainColor;
      font-family: $baseFontFamily;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 35px;
    }
    &-list{
      display: grid;
      grid-template-rows: 1fr 1fr;
    }
  }
  &__customers{
    &-title{
      color: $mainColor;
      font-family: $baseFontFamily;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 35px;
    }
    &-list{
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 25px;
    }
  }
}