.goods{
  &__text{
    font-family: "A_Concepto";
    text-transform: uppercase;
    &::after{
      content: "";
      position: absolute;
      bottom: -22px;
      left: 50%;
      right: 0;
      width: 182px;
      height: 3px;
      background-color: $activeColor;
    }
  }
  &__icon{
    position: relative;
    margin-bottom: 30px;
    margin-top: 25px;
    &::before{
      position: absolute;
      z-index: -1;
      right: -7px;
      bottom: -7px;
    }
  }
  &__products{
    &-inner{
      margin-right: 30px;
    }
    &-item{
      padding: 45px 20px 45px 25px;
      height: 100%;
      transition: all 1s ease;
      &_grains{
        & .goods__icon{
          width: 67px;
          height: 75px;
          &::before{
            content: url(../images/Icon/wheat_g.svg);
            width: 72px;
            height: 82px;
          }
        }
      }
      &_seeds{
        & .goods__icon{
          width: 54px;
          height: 73px;
          &::before{
            content: url(../images/Icon/sprout_g.svg);
            width: 59px;
            height: 79px;
          }
        }
      }
      &_oil{
        & .goods__icon{ 
          width: 59px;
          height: 76px;
          &::before{
            content: url(../images/Icon/sunflower_g.svg);
            width: 63px;
            height: 81px;
          }
        }
      }
      &_pulses{
        & .goods__icon{  
          width: 69px;
          height: 69px;
          &::before{
            content: url(../images/Icon/peas_g.svg);
            width: 73px;
            height: 73px;
          }
        }
      }
      &_animal{
        & .goods__icon{ 
          width: 91px;
          height: 61px;
          &::before{
            content: url(../images/Icon/cow_g.svg);
            width: 95px;
            height: 64px;
          }
        }
      }
      &_retail {
        & .goods__icon{
          width: 74px;
          height: 62px;
          &::before{
            content: url(../images/Icon/shopping-cart_g.svg);
            width: 77px;
            height: 64px;
          }
        }
      }
    }
  }
  &__name{
    font-family: $baseFontFamily;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__lines{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    background-color: $borderColor;
    &::before{
      content:"";
      position: absolute;
      display: block;
      width: 2px;
      height: 490px;
      top: -245px;
      left: 300px;
      background-color: $borderColor;
    }
    &::after{
      content:"";
      position: absolute;
      display: block;
      width: 2px;
      height: 490px;
      top: -245px;
      right: 300px;
      background-color: $borderColor;
    }
  }

  &__title{
    opacity: 0.05;
    color: $mainColor;
    font-family: "A_Concepto";
    font-size: 118px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    position: absolute;
    bottom: -88px;
    left: 0;
  }
}