@media (min-width: 320px) {
  .header {
    &__logo {
      width: 115px;
    }
    &__nav {
      display: none;
    }
    &__phone {
      display: none;
      &-mob {
        display: inline-block;
        width: 27px;
        height: 27px;
        margin-right: 25px;
      }
    }
    & .mm{
      position: fixed; 
      top: 68px;
      bottom: 0;
      right: -70%;
      overflow-y: scroll;
      font-size: 18px;
      font-weight: 500;
      line-height: 50px;
      text-transform: uppercase;
      background-color: $black;
      border: 1px solid $menuColor;
      border-right: 0;
      padding: 20px 40px;
      transition: all ease .7s;
      & a:active{
        color: $activeColor;
      }
      &__link{
        text-decoration: none;
        color: $white;
        position: relative;
        &:first-of-type{
          &::before{
            content: url(../images/arrow-down-active.svg);
            position: absolute;
            top: 0;
            right: -15px;
            transform: rotate(-90deg);
          }
        }
      }
      &__menu{
        display: flex;
        flex-direction: column;
        position: relative;
      }
      &__block{
        padding: 20px 15px 35px 40px;
        border-left: 1px solid $white;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        right: -100%;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        background-color: $black;
        z-index: 5;
        transition: all ease 0.7s;
        & a{
          color: $white;
          text-decoration: none;
          &:active{
            color: $activeColor;
          }
        }
      }
      &__btn{
        color: $activeColor;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        position: relative;
        padding-right: 40px;
        margin-right: 0;
        margin-left: auto;
        // margin: 0 auto;
        margin-bottom: 30px;
        &::after{
          content: url(../images/right-arrow.png);
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      &__panel{
        &-item{
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 30px;
          position: relative;
          padding-right: 80px;
          &::after{
            content: url(../images/arrow-down-active.svg);
            position: absolute;
            top: 0;
            right: 0;
          }
          &:last-of-type{
            margin-bottom: 0;
          }
          & .ui-accordion-header-active{
            color: $activeColor;
            border-bottom: 2px solid $activeColor;
            outline: none;
          }
        }
        &-link{
          outline: none;
        }
      }
      &__submenu{
        padding: 25px 0 0 15px;
        font-size: 12px;
        &-item{
          margin-bottom: 20px;
          font-weight: 400;
          &:last-of-type{
            margin-bottom: 0;
          }
        }
      }
      &__visible {
        right: 0;
      }
    }
  }
  .top {
    background-image: url(../images/top-bg.jpg);
    min-height: 250px;
    background-position: right bottom;
    background-size: cover;
    &__slogan{
      margin-top: 50px;
    }
    &__title {
      font-size: 12px;
      line-height: 0;
      &::after {
        height: 1px;
        bottom: -7px;
      }
      &-before {
        font-size: 20px;
        margin-right: 10px;
      }
      &-after {
        font-size: 17px;
      }
    }
  }
  .goods {
    padding: 33px 0 40px;
    &__inner {
      display: block;
    }
    &__text {
      padding-top: 0;
      width: auto;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      position: relative;
      &::after {
        left: 50%;
        width: 182px;
        height: 3px;
        transform: translateX(-50%)
      }
    }
    &__products {
      margin: 70px 0 40px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      &-wrapper{
        &_grain{
          grid-column: 1/2;
          grid-row: 1/2;
          border-bottom: 2px solid $borderColor;
          border-right: 2px solid $borderColor;
        }
        &_seeds{
          grid-column: 2/3;
          grid-row: 1/2;
          border-bottom: 2px solid $borderColor;
        }
        &_oil {
          grid-column: 1/2;
          grid-row: 2/3;
          border-bottom: 2px solid $borderColor;
          border-right: 2px solid $borderColor;
        }
        &_pulses {
          grid-column: 2/3;
          grid-row: 2/3;
          border-bottom: 2px solid $borderColor;
        }
        &_animal {
          grid-column: 1/2;
          grid-row: 3/4;
          border-right: 2px solid $borderColor;
        }
        &_retail {
          grid-column: 2/3;
          grid-row: 3/4;
        }
      }
      &-item {
        padding: 25px 0 25px 25px;
        display: block;
        &_seeds {
          & .goods__icon{
            height: 75px;
          }
        }
        &_pulses {
          & .goods__icon{
            height: 76px;
          }
        }
      }
    }
    &__name{
      font-size: 17px;
    }
    &__list {
      display: none;
    }
    &__title {
      display: none;
    }
  }
  .work{
    padding-bottom: 50px;
    padding-top: 50px;
    &__process{
      display: none;
    }
    &__inner{
      display: block;
    }
    & .slider{
      width: 100%;
      margin-bottom: 0;
      z-index: 1;
      & .slick-dots{
        left: 15px;
      }
    }
    & .slide__item{
      padding-left: 0;
      z-index: 3;
      height: 350px;
    }
    & .slide__description{
      background-color: $greenList;
      padding: 13px;
      padding-bottom: 30px;
      height: 148px;
      &::before{
        content: "";
      }
    }
    & .slide__title{
      font-size: 14px;
    }
    & .slide__text{
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
    }
  }
  .global{
    padding: 45px 0 35px;
    &__title{
      font-size: 24px;
      margin-bottom: 0;
    }
    &__map{
      display: none;
    }
  }
  .countries{
    margin-top: 0;
    padding: 0 ;
    &__inner{
      display: block;
      & li{
        margin-right: 0;
      }
    }
    &__origin{
      padding: 25px 0;
      border-left: none;
      &-list{
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 25px;
      }
    }
    &__customers{
      padding: 25px 0;
      border-left: none;
      &-list{
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  .about{
    padding: 65px 0;
    &__years{
      padding: 15px 35px;
      border: 2px solid $activeColor;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
      color: $white;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }
    &__group{
      margin: 0 auto;
    }
    &__equis{
      padding: 0;
      &-title{
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
      }
      &-text{
        margin-left: 0;
      }
      &-link{
        display: block;
        text-align: center;
      }
    }
  }
  .feedback{
    padding: 50px 0 30px;
    &__title{
      font-size: 24px;
      text-align: center;
      margin-bottom: 55px;
      &::before{
        content: "";
        width: 182px;
        height: 3px;
        background-color: $activeColor;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__image{
      display: none;
    }
    .form{
      &__info{
        & input{
          width: 100%;
        }
      }
      &__needs{
        &-list{
          background-color: $inputBgColor;
          &_products{
            width: 100%;
          }
          &_delivery{
            width: 50%;
          }
          &_packing{
            width: 100%;
          }
        }
        & label{
          width: 100%;
          & input{
            width: 30%;
          }
        }
      }
      &__delivery{
        &-place{
          width: 50%;
        }
      }
      & textarea{
        height: 185px;
      }
      &__submit{
        width: 100%;
        padding: 20px 0;
      }
    }
  }
  .footer{
    &__logo{
      margin-bottom: 40px;
    }
    &__nav{
      flex-direction: column;
    }
    &__menu{
      flex-direction: column;
      order: 2;
      & a{
        margin-bottom: 25px;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
    &__contacts{
      text-align: center;
      order: 1;
      margin-bottom: 45px;
    }
    &__tel{
      margin-bottom: 20px;
    }
    &__email{
      margin-bottom: 20px;
    }
    &__social{
      &-item{
        width: 34px;
        height: 34px;
        & svg .st0{
          fill: $white;
        }
      }
    }
    &__products{
      display: grid;
      grid-template-columns: 1fr 1fr;
      &-box{
        margin-bottom: 35px;
        text-align: center;
      }
      &-list{ 
        &_item{
          font-size: 12px;
          line-height: 20px;
          font-weight: 400;
          margin-bottom: 15px;
        }
      }
    }
    &__copy{
      line-height: 14px;
      font-size: 14px;
    }
  }
}
@media (min-width:450px){
  .top{
    min-height: 350px;
  }
}
// //////////////////////////////////////////////
@media (min-width: 576px) {
  .header {
    &__logo {
      width: 150px;
    }
    &__phone {
      &-mob {
        margin-right: 40px;
        width: 35px;
        height: 35px;
      }
    }
    &__nav-mob {
      top: 83px;
    }
    & .mm{
      top: 83px;
    }
  }
  .top {
    min-height: 400px;
    &__title {
      font-size: 18px;
      line-height: .6;
      &::after {
        height: 2px;
        bottom: -12px;
      }
      &-before {
        font-size: 36px;
        margin-right: 15px;
      }
      &-after {
        font-size: 30px;
      }
    }
  }
  .goods {
    &__text {
      font-size: 33px;
      line-height: 33px;
    }
  }
  .work{
    & .slider{
      & .slick-dots{
        left: 20px;
      }
    }
    & .slide__item{
      height: 400px;
    }
    & .slide__description{
      padding: 20px;
    }
    & .slide__title{
      font-size: 16px;
    }
    & .slide__text{
      font-size: 14px;
    }
  }
  .global{
    &__title{
      font-size: 45px;
    }
  }
  .countries{
    &__origin{
      &-title{
        font-size: 22px;
      }
      &-list{
        grid-template-columns: repeat(4, 1fr);
      }
    }
    &__customers{
      &-title{
        font-size: 22px;
      }
      &-list{
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
  .about{
    padding: 65px 0;
    &__years{
      font-size: 33px;
    }
    &__equis{
      &-title{
        font-size: 33px;
      }
      &-text{
        & p{
          font-size: 18px;
        }
      }
      &-link{
        font-size: 22px;
      }
    }
  }
  .feedback{
    &__title{
      font-size: 30px;
    }
    & .form{
      &__info{
        & input{
          width: 48%;
        }
      }
      &__needs{
        &-list{
          width: 48%;
          &_delivery{
            width: 48%;
            background-position-x: 97% !important;
          }
        }
        & label{
          width: 48%;
          & input{
            width: 40%;
          }
        }
      }
      &__delivery{
        width: 48%;
        &-place{
          width: 48%;
        }
      }
      &__submit{
        width: 48%;
      }
    }
  }
  .footer{
    &__products{
      grid-template-columns: 1fr 1fr 1fr;
      &-title{
        font-size: 18px;
      }
    }
  }
}
// ///////////////////////////////////////////////
@media (min-width: 768px) {
  .header {
    &__logo {
      width: 250px;
    }
    &__phone {
      &-mob {
        margin-right: 50px;
        width: 35px;
        height: 35px;
      }
    }
    &__nav-mob {
      font-size: 22px;
      line-height: 70px;
      top: 92px;
    }
    & .mm{
      top: 92px;
    }
  }
  .top {
    min-height: 500px;
    &__title {
      font-size: 24px;
      line-height: 1.1;
      &::after {
        height: 3px;
        bottom: -7px;
      }
      &-before {
        font-size: 60px;
        margin-right: 20px;
      }
      &-after {
        font-size: 40px;
      }
    }
  }
  .goods {
    padding: 60px 0 40px;
    &__text {
      font-size: 40px;
      line-height: 40px;
    }
    &__products {
      margin: 70px 0 40px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      &-wrapper{
        &_grains {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        &_seeds {
          grid-column: 2/3;
          grid-row: 1/2;
          border-bottom: 2px solid $borderColor;
          border-right: 2px solid $borderColor;
        }
        &_oil {
          grid-column: 3/4;
          grid-row: 1/2;
          border-right: none;
        }
        &_pulses {
          grid-column: 1/2;
          grid-row: 2/3;
          border-bottom: none;
          border-right: 2px solid $borderColor;
        }
        &_animal {
          grid-column: 2/3;
          grid-row: 2/3;
        }
        &_retail {
          grid-column: 3/4;
          grid-row: 2/3;
        }
      }
      &-item {
        padding: 25px 0 25px 25px;
        &_seeds {
          & .goods__icon{
            height: 75px;
          }
        }
        &_pulses {
          & .goods__icon{
            height: 76px;
          }
        }
      }
    }
    &__name{
      font-size: 17px;
    }
  }
  .work{
    & .slider{
      & .slick-dots{
        left: 30px;
        bottom: 20px;
      }
    }
    & .slide__item{
      height: 500px;
      & img{
        width: 100%;
        height: 100%;
      }
    }
    & .slide__description{
      padding: 30px;
      height: 160px;
    }
    & .slide__title{
      font-size: 22px;
    }
    & .slide__text{
      font-size: 16px;
    }
  }
  .global{
    &__title{
      font-size: 55px;
    }
  }
  .countries{
    &__origin{
      &-title{
        font-size: 27px;
      }
      &-list{
        grid-template-columns: repeat(5, 1fr);
      }
    }
    &__customers{
      &-title{
        font-size: 27px;
      }
      &-list{
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
  .about{
    padding: 65px 0;
    &__years{
      font-size: 33px;
    }
    &__equis{
      &-title{
        font-size: 36px;
      }
    }
  }
  .footer{
    &__logo{
      margin-bottom: 0;
    }
    &__nav{
      flex-direction: row;
      align-items: center;
      margin-bottom: 60px;
    }
    &__menu{
      order: 1;
    }
    &__contacts{
      text-align: right;
      order: 2;
      margin-bottom: 0;
    }
  }
}
// //////////////////////////////////////////
@media (min-width: 992px) {
  .header {
    background-size: cover;
    &__nav {
      display: block;
      &-mob {
        display: none;
      }
    }
    &__list {
      justify-content: space-around;
      font-size: 16px;
    }
    &__phone {
      display: block;
    }
    & .mm {
      display: none;
      &__panel{
        display: none;
      }
    }
    & .header__box {
      display: none;
    }
  }
  .top {
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    &__title {
      font-size: 30px;
      line-height: 24px;
      &::after {
        height: 4px;
        bottom: -15px;
      }
      &-before {
        font-size: 70px;
        margin-right: 50px;
      }
      &-after {
        font-size: 50px;
      }
    }
  }
  .global{
    padding-top: 150px;
    &__title{
      font-size: 48px;
      margin-bottom: 70px;
    }
    &__map{
      display: block;
    }
  }
  .countries{
    margin-top: -135px;
    padding: 45px 0 35px;
    &__origin{
      &-list{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
      }
    }
    &__customers{
      &-list{
        grid-template-columns: repeat(9, 1fr);
      }
    }
  }
  .about{
    padding: 50px 0;
    background-attachment: fixed;
    &__inner{
      display: flex;
      justify-content: stretch;
    }
    &__years{
      padding: 0 15px ;
      font-size: 24px;
      transform: rotate(180deg);
      writing-mode: vertical-rl;
    }
    &__equis{
      padding-top: 20px;
      padding-left: 100px;
      &-title{
        font-size: 36px;
        text-align: left;
      }
      &-text{
        margin-left: 0;
        & p{
          font-size: 14px;
        }
      }
      &-link{
        text-align: left;
        font-size: 14px;
      }
    }
  }
  .feedback{
    &__title{
      font-size: 48px;
    }
    &__image{
      display: block;
    }
    &__inner{
      display: flex;
      flex-direction: column;
    }
    &__image{
      width: 45%;
      margin-right: 0;
      margin-left: auto;
    }
  }
  .footer{
    &__menu{
      flex-direction: row;
      justify-content: space-between;
      order: 1;
      flex-grow: 0.3;
      & a{
        margin-bottom: 0;
      }
    }
    &__social{
      &-item{
        width: 24px;
        height: 24px;
      }
    }
  }
}

// //////////////////////////////////////////
@media (min-width: 1200px) {
  .header {
    &__list {
      justify-content: space-between;
      font-size: 18px;
    }
    &__phone {
      font-size: 18px;
    }
  }
  .goods {
    padding: 100px 0;
    &__inner {
      display: flex;
      justify-content: space-between;
      position: relative;
    }
    &__text {
      width: 575px;
      margin-right: 30px;
      text-align: left;
      padding-top: 70px;
      font-size: 48px;
      &::after {
        left: 0;
        top: 270px;
        width: 182px;
        height: 3px;
        transform: none;
      }
    }
    &__products {
      margin:0;
      position: relative;
      &-item {
        display: flex;
        padding: 45px 20px 45px 25px;
        transition: all 1s ease;
        &:hover{
          transform: scale(1.1);
          outline: none;
          background: url(../images/hover-bg.jpg);
          & .goods__name{
            color: $white;
          }
          & .goods__list{
            opacity: 1;
          }
        }
        &_grains {
          & .goods__icon{
            width: 67px;
            height: 75px;
            &::before{
              content: url(../images/Icon/wheat_g.svg);
              width: 72px;
              height: 82px;
            }
          }
          &:hover{
            & .goods__icon::before{
              content: url(../images/Icon/wheat_white.svg);
              z-index: 3;
              right: 7px;
              bottom: 7px;
            }
          }
        }
        &_seeds {
          grid-column: 2/3;
          grid-row: 1/2;
          & .goods__icon{
            width: 54px;
            height: 73px;
            &::before{
              content: url(../images/Icon/sprout_g.svg);
              width: 59px;
              height: 79px;
            }
          }
          &:hover{
            & .goods__icon::before{
              content: url(../images/Icon/sprout_white.svg);
              z-index: 3;
              right: 7px;
              bottom: 7px;
            }
          }
        }
        &_oil {
          grid-column: 3/4;
          grid-row: 1/2;
          & .goods__icon{ 
            width: 59px;
            height: 76px;
            &::before{
              content: url(../images/Icon/sunflower_g.svg);
              width: 63px;
              height: 81px;
            }
          }
          &:hover{
            & .goods__icon::before{
              content: url(../images/Icon/sunflower_white.svg);
              z-index: 3;
              right: 7px;
              bottom: 7px;
            }
          }
        }
        &_pulses {
          grid-column: 1/2;
          grid-row: 2/3;
          &:hover{
            & .goods__icon::before{
              content: url(../images/Icon/peas_white.svg);
              z-index: 3;
              right: 7px;
              bottom: 7px;
            }
          }
        }
        &_animal{
          grid-column: 2/3;
          grid-row: 2/3;
          &:hover{
            & .goods__icon::before{
              content: url(../images/Icon/cow_white.svg);
              z-index: 3;
              right: 7px;
              bottom: 7px;
            }
          }
        }
        &_retail {
          grid-column: 3/4;
          grid-row: 2/3;
          & .goods__icon{
            width: 74px;
            height: 62px;
            &::before{
              content: url(../images/Icon/shopping-cart_g.svg);
              width: 77px;
              height: 64px;
            }
          }
          &:hover{
            & .goods__icon::before{
              content: url(../images/Icon/shopping-cart_white.svg);
              z-index: 3;
              right: 7px;
              bottom: 7px;
            }
          }
        }
      }
    }
    &__lines {
      display: block;
    }
    &__list {
      display: block;
      opacity: 0;
      &-item{
        margin-bottom: 5px;
        font-family: $baseFontFamily;
        font-size: 12px;
        font-weight: 500;
        text-decoration: underline;
        line-height: 16px;
        position: relative;
        &::before{
          content: "";
          width: 4px;
          height: 4px;
          background-color: $white;
          border-radius: 50%;
          position: absolute;
          left: -10px;
          top: 6px;
        }
        & a{
          color: $white;
        }
        &:hover a{
          color: $greenList;
        }
        &:hover::before{
          background-color: $greenList;
        }
      }
    }
    &__title {
      display: block;
    }
  }
  .work{
    padding-bottom: 0;
    padding-top: 60px;
    &__process{
      display: block;
    }
    &__inner{
      display: flex;
      justify-content: space-between;
    }
    &__process{
      padding-top: 35px;
      margin-left: 70px;
      padding-bottom: 40px;
    }
    &__title{
      font-size: 48px;
      margin-bottom: 70px;
    }
    &__steps{
      & .slick-track{
        & .slick-slide{
          &.slick-current .work__steps-item .work__steps-digit{
            background-color: $activeColor;
          }
          &.slick-current .work__steps-item .work__steps-circle{
            width: 50px;
            height: 50px;
            margin-left: -7px;
            margin-top: -7px;
          }
        }
      }
      &-item{
        outline: none;
        position: relative;
        &::after{
          content: url(../images/dotted-line.png);
          position: absolute;
          left: 50px;
          top: 5px;
        }
        &_4{
          &::after{
            content: "";
          }
        }
        &_7{
          &::after{
            content: "";
          }
        }
      }
      &-circle{
        width: 36px;
        height: 36px;
        border: 2px solid $roundColor;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        animation: spiner 1s linear infinite;
        &_1{
          border-top: 0;
          border-right: 0;
        }
        &_2{
          border-bottom: 0;
          border-right: 0;
        }
        &_3{
          border-bottom: 0;
          border-left: 0;
        }
        &_4{
          border-top: 0;
          border-left: 0;
        }
        &_5{
          border-bottom: 0;
          border-left: 0;
        }
        &_6{
          border-bottom: 0;
          border-right: 0;
        }
        &_7{
          border-top: 0;
          border-right: 0;
        }
      }
      & .slick-track{
        width: auto;
        &::before{
          display: none;
        }
        transform: none !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 65px;
        & .slick-slide{
          width: auto !important;
          padding: 15px 20px 0 15px;
          outline: none;
          cursor: pointer;
          &:hover{
            transform: scale(1.1);
            & .work__steps-item .work__steps-digit{
              background-color: $activeColor;
            }
            &:hover .work__steps-item .work__steps-circle{
              width: 50px;
              height: 50px;
              margin-left: -7px;
              margin-top: -7px;
            }
          }
        }
      }
      &-digit{
        display: inline-block;
        width: 36px;
        height: 36px;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 38px;
        color: $mainColor;
        margin-bottom: 20px;
        position: relative;
        z-index: 5;
        border: none;
        border-radius: 50%;
        outline: none;
        background-color: transparent;
      }
      &-text{
        color: $mainColor;
        font-family: $baseFontFamily;
        font-weight: 500;
        line-height: 16px;
      }
    }

    & .slider{
      width: 712px;
      margin-bottom: -40px;
      // z-index: 1;
      & .slick-slide{
        width: auto !important;
      }
      & .slick-dots{
        left: 35px;
      }
    }
    
    & .slide__item{
      position: relative;
      padding-left: 17px;
      padding-left: 17px;
    }
    & .slide__description{
      background-color: transparent;
      bottom: -2px;
      padding: 35px 144px 35px 35px;
      &::before{
        content: url(../images/panel-bg.png);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
    }
  }
  .countries{
    padding: 50px 0;
    &__inner{
      display: flex;
      & li{
        margin-right: 25px;
      }
    }
    &__li{
      margin-right: 30px;
      cursor: pointer;
      &:hover{
        color: $activeColor;
        &::before{
          background-color: red;
        }
      }
    }
    &__origin{
      padding: 13px 25px;
      border-left: 6px solid $activeColor;
      &-title{
        font-size: 18px;
      }
      &-list{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 25px;
      }
    }
    &__customers{
      padding: 13px 25px;
      border-left: 6px solid $greenList;
      &-title{
        font-size: 18px;
      }
      &-list{
        grid-template-columns: repeat(9, 1fr);
      }
    }
  }
  .about{
    padding: 105px 0;
    &__group{
      padding: 42px 0 42px 30px;
      margin-right: 120px;
    }
    &__equis{
      padding: 20px 15px 15px 0;
      padding-left: 0;
      &-title{
        font-size: 48px;
        text-align: left;
        margin-bottom: 75px;
      }
      &-text{
        margin-left: 120px;
        margin-right: 180px;
      }
    }
  }
  .feedback{
    padding: 75px 0 60px;
    &__title{
      font-size: 48px;
      text-align-last: left;
      margin-bottom: 75px;
      &::before{
        transform: none;
        left: 0;
        bottom: -35px;
      }
      &::after{
        content: "feedback";
        position: absolute;
        left: 242px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.05;
        color: $mainColor;
        font-family: "A_Concepto";
        font-size: 118px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    &__inner{
      display: flex;
      flex-direction: row;
    }
    &__form{
      width: 50%;
    }
    .form{
      &__needs{
        margin-bottom: 0;
        &-list{
          &_delivery{
            width: 25%;
            background-position-x: 94% !important;
          }
          &_packing{
            width: 50%;
            margin-right: auto;
            margin-left: 25px;
          }
        }
      }
      &__delivery{
        width: 60%;
        &-place{
          width: 22%;
        }
      }
      & textarea{
        height: 75px;
      }
      &__submit{
        cursor: pointer;
        overflow: hidden;
        position: relative;
        & span {
          z-index: -20;
        }
        &::after {
          background: $activeColor;
          content: "";
          height: 155px;
          width: 10px;
          position: absolute;
          top: -50px;
          left: -55px;
          transform: rotate(35deg);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          z-index: 10;
        }
        &:hover:after {
          left: 120%;
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
    }
  }
  .footer{
    &__menu{
      flex-direction: row;
      justify-content: space-between;
      order: 1;
      flex-grow: 0.3;
    }
    &__social{
      &-item{
        &:hover svg .st0{
          fill: #f6a947;
        }
      }
    }
    &__products{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      margin-bottom: 40px;
      &-box{
        text-align: left;
      }
      &-title{
        font-size: 18px;
      }
      &-list{
        &_item{
          font-size: 14px;
          padding-left: 12px;
          position: relative;
          &::before{
            content: "";
            position: absolute;
            top: 6px;
            left: 0;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $activeColor;
          }
          &:hover::before{
            background-color: red;
          }
        }
      }
    }
  }
}