.top{
  background-size: cover;
  display: flex;
  align-items: center;
  &__slogan{
    text-shadow: 0 1px 10px rgba(21, 21, 21, 0.14);
    color: $white;
    font-weight: 400;
    text-align: center;
  }
  &__title{
    font-family: "GothamPro";
    font-weight: 700;
    display: inline-block;
    padding-top: 10px;
    vertical-align: top;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      background-color: $activeColor;
    }
    &-before{
      font-family: "GothamPro-Black";
      text-transform: uppercase;
      display: inline-block;
    }
    &-after{
      font-family: "GothamPro-Black";
      text-transform: uppercase;
      margin-top: 10px;
    }
  }
}