
$baseFontSize: 16px;
$baseFontFamily: 'IBM Plex Sans', sans-serif;
$mediumFontWeight: 500;


// $mobilePadding: (12px / $baseFontSize) * 1rem;
// $desktopPadding: 1rem;

 // Colors
$black: #000000;
$white: #ffffff;
$mainColor: #222222;;
$bgColor: #fff;
$activeColor: #f6a947;
$menuColor: #dae7ef;
$borderColor: #dcdcdc;
$bgGrey: #f1f1f1;
$roundColor: #969696;
$greenList: #00a200;
$inputColor: #7f7f7f;
$inputBgColor: #f7f7f7;

// humburger
$hamburger-padding-x           : 15px !default;
$hamburger-padding-y           : 15px !default;
$hamburger-layer-width         : 40px !default;
$hamburger-layer-height        : 4px !default;
$hamburger-layer-spacing       : 6px !default;
$hamburger-layer-color         : #fff !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 1 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;


// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-types              : arrowturn;