.work{
  background-color: $bgGrey;
  &__demo{
    & .slick-dots{
      display: flex;
      justify-content: space-between;
      width: 110px;
      position: absolute;
      bottom: 15px;
      left: 35px;
      z-index: 6;
    }
    & li.slick-active .slider__dots-item{
      background-color: $white;
      border: 1px solid $white;
    }
    & li .slider__dots-item{
      background-color: transparent;
      border: 1px solid $white;
      display: inline-block;
      width: 7px;
      height: 7px;
      outline: none;
      cursor: pointer;
    }
  }
  &__title{
    color: $mainColor;
    font-family: "A_Concepto";
    font-weight: 400;
    text-transform: uppercase;
  }
}
.slide{
  &__item{
    position: relative;
  }
  & img{
    display: inline-block;
    vertical-align: top;
    object-fit: fill;
    
  }
  &__description{
    color: $white;
    font-family: $baseFontFamily;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
  &__title{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 13px;
  }
  &__text{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
}

@keyframes spiner{
  100% {transform: rotate(360deg);}
}