@import "fonts";
@import "vars";
@import "libs";

@import "media";

*,
*::before,
*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: $baseFontSize;
}
body {
  font-size: 16px;
  font-family: $baseFontFamily;
  background-color: $bgColor;
  color: $mainColor;
}
img {
	max-width: 100%;
}
.container{
	width: 1420px;
	margin: 0 auto;
	// padding: 0 15px;
}

/////////////////////////////////////////////////////////////

@import "header.scss";
@import "top.scss";
@import "goods.scss";
@import "work.scss";
@import "global.scss";
@import "about.scss";
@import "feedback.scss";
